.custom-bg {
    background-image: url('/N-images/hero-img.png');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    position: relative;
  }
  
  .overlay {
    background-color:#1968898A;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  
  .custom-bg h1 {
    font-size: 2.5rem;
  }
  
  .custom-bg p {
    font-size: 1.2rem;
  }

  .card-details{
    background-color:#E8EBEC;
    
  }

  .flights-card:hover{
    cursor: pointer;
    scale: 1.1;
  }

  .flights-card{
    transition: ease-in 0.3s;
  }

  .last-cards:hover{
    cursor: pointer;
    
  }

  .card-img:hover{
    cursor: pointer;
    scale: 1.1;
  }

  .card-img {
    transition: ease-in 0.3s;
  }