
.stepper {
    display: flex;
    align-items: center;
}

.step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1a6d8e;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.step.active {
    background-color: white;
    color: #1a6d8e;
    border: 2px solid #1a6d8e;
}

.line {
    width: 58px;
    height: 2px;
    background-color: #1a6d8e;
}

.step-text {
    font-size: 13px;
    color: gray;
    margin-top: 9px;
    text-align: center;
    max-width: 100px;
}
.booking-card {
    background-color: #83ADBF;
    border: 2px solid #1a6d8e;
    padding: 40px; 
    border-radius: 8px;
    color: white;
    width: 100%; 
    height: 400px; 
    max-width: 600px; 
    min-height: 500px; 
}
.booking-card .btn-confirm {
    background-color: #f79f1f;
   
} 